/*
Flexbox - is a css property used to create flexible layouts.
Allows you to arrange child elements in a row or column,
control its spacing,alignement and more.

Syntax::
display:flex; -> displays item in a row(horizontally)

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(27, 73, 27);
}

.navbar-wrapper a {
  display: flex;
  align-items: center;
  width: 40%;
}

.navbar-nav {
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
}

.Web-image {
  width: 20%;
  height: 20%;
  margin: auto;
}

.navbar-nav li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
}

.navbar-nav {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  margin: auto;
}

/* 
1) change the size of both images inside the home-right
2) change the size of h1 to bigger size
3) make the p to bold
*/

.Food-image {
  position: relative;
}

.home-text h1 {
  font-size: 40px;
}

.home-text p {
  font-size: 30px;
  margin-bottom: 40px;
}

.Food-image {
  position: relative;
  aspect-ratio: 9/10;
  padding-top: 70%;
}

.Food-image img {
  position: absolute;
  width: 26%;
}

.Food1 {
  top: 32%;
  left: 31%;
}

.Food2 {
  top: 31%;
  right: 14%;
}

.Food3 {
  top: 50%;
  left: 47%;
}

.home-text {
  width: 60%;
  color: #ffc107;
}

.home-left {
  display: flex;
  align-items: center;
  height: 1000px;
  background: url("African-Cuisine-Transparent-PNG.png");
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.context {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  margin: auto;
}

.example {
  width: 30%;
}

.context img {
  width: 100%;
}

.text {
  width: 60%;
}

.signature {
  width: 10%;
}

.grid-div {
  text-decoration-color: #ffc107;
}

.grid-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  gap: 50px;
}

.grid-items h1 {
  color: green;
}

.card-items img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 10px;
}

.card-items {
  width: 65%;
  gap: 10px;
}

.card-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
  gap: 10px;
  height: auto;
}

.top-items {
  display: flex;
  justify-content: space-between;
}

.top-items h1 {
  font-size: large;
  background-color: aliceblue;
}

.top-items p {
  background-color: aliceblue;
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 80%;
}

.card-wrapper {
  margin-top: 50px;
}

.Reviews {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  gap: 5px;
  height: auto;
}

.comment-reviews img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.comment-reviews {
  display: flex;
  gap: 20px;
  width: 10 0%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  background-color: rgb(27, 73, 27);
  color: white;
  height: 100px;
  margin-top: 20px;
}

footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

footer p {
  font-size: 15px;
}

footer i {
  display: flex;
  gap: 0px;
  align-items: auto;
  font-size: 20px;
}
